name: Build and PR Binaries

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:

  build-msdf-atlas-gen-linux-arm64:
    name: msdf-atlas-gen (linux/arm64)
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Build Dependencies (packages)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            ca-certificates \
            cmake \
            curl \
            git \
            ninja-build \
            pkg-config \
            python3 \
            tar \
            unzip \
            zip
      - name: Install Build Dependencies (vcpkg)
        run: |
          git clone https://github.com/microsoft/vcpkg ${{ runner.temp }}/vcpkg
          cd ${{ runner.temp }}/vcpkg
          ./bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=${{ runner.temp }}/vcpkg" >> $GITHUB_ENV
      - name: Build msdf-atlas-gen
        run: |
          git clone --recurse-submodules https://github.com/Chlumsky/msdf-atlas-gen.git ${{ runner.temp }}/msdf-atlas-gen && \
          cd ${{ runner.temp }}/msdf-atlas-gen && \
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release && \
          cmake --build build
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: msdf-atlas-gen-linux-arm64
          path: ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen
