name: Build and PR Binaries

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:

  build-msdf-atlas-gen-linux-arm64:
    name: Build msdf-atlas-gen (linux/arm64)
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Install Build Dependencies (packages)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            ca-certificates \
            cmake \
            curl \
            git \
            ninja-build \
            pkg-config \
            python3 \
            tar \
            unzip \
            zip
      - name: Install Build Dependencies (vcpkg)
        run: |
          git clone https://github.com/microsoft/vcpkg ${{ runner.temp }}/vcpkg
          cd ${{ runner.temp }}/vcpkg
          ./bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=${{ runner.temp }}/vcpkg" >> $GITHUB_ENV
      - name: Build msdf-atlas-gen
        run: |
          git clone --recurse-submodules https://github.com/Chlumsky/msdf-atlas-gen.git ${{ runner.temp }}/msdf-atlas-gen && \
          cd ${{ runner.temp }}/msdf-atlas-gen && \
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release && \
          cmake --build build
      - name: Rename binary
        run: |
          mv -v ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-linux-arm64
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: msdf-atlas-gen-linux-arm64
          path: ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-linux-arm64

  build-msdf-atlas-gen-linux-amd64:
    name: Build msdf-atlas-gen (linux/amd64)
    runs-on: ubuntu-22.04
    steps:
      - name: Install Build Dependencies (packages)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            ca-certificates \
            cmake \
            curl \
            git \
            pkg-config \
            python3 \
            tar \
            unzip \
            zip
      - name: Install Build Dependencies (Ninja)
        uses: seanmiddleditch/gha-setup-ninja@v5
      - name: Install Build Dependencies (vcpkg)
        run: |
          git clone https://github.com/microsoft/vcpkg ${{ runner.temp }}/vcpkg
          cd ${{ runner.temp }}/vcpkg
          ./bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=${{ runner.temp }}/vcpkg" >> $GITHUB_ENV
      - name: Build msdf-atlas-gen
        run: |
          git clone --recurse-submodules https://github.com/Chlumsky/msdf-atlas-gen.git ${{ runner.temp }}/msdf-atlas-gen && \
          cd ${{ runner.temp }}/msdf-atlas-gen && \
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release && \
          cmake --build build
      - name: Rename binary
        run: |
          mv -v ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-linux-amd64
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: msdf-atlas-gen-linux-amd64
          path: ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-linux-amd64

  build-msdf-atlas-gen-darwin-arm64:
    name: Build msdf-atlas-gen (darwin/arm64)
    runs-on: macos-15
    steps:
      - name: Install Build Dependencies (packages)
        run: |
          brew install \
            cmake \
            ninja \
            pkgconf \
            python@3.14 \
            unzip \
            zip
      - name: Install Build Dependencies (vcpkg)
        run: |
          git clone https://github.com/microsoft/vcpkg ${{ runner.temp }}/vcpkg
          cd ${{ runner.temp }}/vcpkg
          ./bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=${{ runner.temp }}/vcpkg" >> $GITHUB_ENV
      - name: Build msdf-atlas-gen
        run: |
          git clone --recurse-submodules https://github.com/Chlumsky/msdf-atlas-gen.git ${{ runner.temp }}/msdf-atlas-gen && \
          cd ${{ runner.temp }}/msdf-atlas-gen && \
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release && \
          cmake --build build
      - name: Rename binary
        run: |
          mv -v ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-darwin-arm64
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: msdf-atlas-gen-darwin-arm64
          path: ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-darwin-arm64

#  build-msdf-atlas-gen-windows-amd64:
#    name: Build msdf-atlas-gen (windows/amd64)
#    runs-on: windows-2022
#    steps:
#      - name: Install Build Dependencies (packages)
#        shell: pwsh
#        run: |
#          choco install -y --no-progress `
#            cmake `
#            git `
#            pkgconfiglite `
#            7zip
#      - name: Install Build Dependencies (MSVC Dev Cmd)
#        uses: ilammy/msvc-dev-cmd@v1
#        with:
#          arch: x64
#      - name: Install Build Dependencies (Ninja)
#        uses: seanmiddleditch/gha-setup-ninja@v5
#      - name: Install Build Dependencies (python)
#        uses: actions/setup-python@v5
#        with:
#          python-version: "3.14"
#          architecture: "x64"
#      - name: Install Build Dependencies (vcpkg)
#        shell: pwsh
#        run: |
#          git clone https://github.com/microsoft/vcpkg "$env:RUNNER_TEMP\vcpkg"
#          & "$env:RUNNER_TEMP\vcpkg\bootstrap-vcpkg.bat"
#          "VCPKG_ROOT=$env:RUNNER_TEMP\vcpkg" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding utf8
#      - name: Build msdf-atlas-gen
#        shell: pwsh
#        run: |
#          git clone --recurse-submodules https://github.com/Chlumsky/msdf-atlas-gen.git "$env:RUNNER_TEMP\msdf-atlas-gen"
#          cd "$env:RUNNER_TEMP\msdf-atlas-gen"
#          cmake -S . -B build -G Ninja `
#            -DCMAKE_BUILD_TYPE=Release `
#            -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_ROOT\scripts\buildsystems\vcpkg.cmake" `
#            -DVCPKG_TARGET_TRIPLET=x64-windows-static `
#            -DCMAKE_C_COMPILER=cl `
#            -DCMAKE_CXX_COMPILER=cl
#          cmake --build build
#      - name: Rename binary
#        run: |
#          mv -v ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen.exe ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-windows-amd64.exe
#      - name: Upload binary
#        uses: actions/upload-artifact@v4
#        with:
#          name: msdf-atlas-gen-windows-amd64.exe
#          path: |
#            ${{ runner.temp }}/msdf-atlas-gen/build/bin/msdf-atlas-gen-windows-amd64.exe

  test-msdf-atlas-gen-linux-arm64:
    name: Test msdf-atlas-gen (linux/arm64)
    runs-on: ubuntu-22.04-arm
    needs: build-msdf-atlas-gen-linux-arm64
    steps:
      - name: Copy in binaries from previous steps
        uses: actions/download-artifact@v7
        with:
          name: msdf-atlas-gen-linux-arm64
      - name: Test binary
        run: |
          set -euo pipefail
          ls -lahR
          chmod a+x ./msdf-atlas-gen-linux-arm64
          ./msdf-atlas-gen-linux-arm64 -help

  test-msdf-atlas-gen-linux-amd64:
    name: Test msdf-atlas-gen (linux/amd64)
    runs-on: ubuntu-22.04
    needs: build-msdf-atlas-gen-linux-amd64
    steps:
      - name: Copy in binaries from previous steps
        uses: actions/download-artifact@v7
        with:
          name: msdf-atlas-gen-linux-amd64
      - name: Test binary
        run: |
          set -euo pipefail
          ls -lahR
          chmod a+x ./msdf-atlas-gen-linux-amd64
          ./msdf-atlas-gen-linux-amd64 -help

  test-msdf-atlas-gen-darwin-arm64:
    name: Test msdf-atlas-gen (darwin/arm64)
    runs-on: macos-15
    needs: build-msdf-atlas-gen-darwin-arm64
    steps:
      - name: Copy in binaries from previous steps
        uses: actions/download-artifact@v7
        with:
          name: msdf-atlas-gen-darwin-arm64
      - name: Test binary
        run: |
          set -euo pipefail
          ls -lahR
          chmod a+x ./msdf-atlas-gen-darwin-arm64
          ./msdf-atlas-gen-darwin-arm64 -help

#  test-msdf-atlas-gen-windows-amd64:
#    name: Test msdf-atlas-gen (windows/amd64)
#    runs-on: windows-2025
#    needs: build-msdf-atlas-gen-windows-amd64
#    steps:
#      - name: Copy in binaries from previous steps
#        uses: actions/download-artifact@v7
#        with:
#          name: msdf-atlas-gen-windows-amd64.exe
#      - name: Test binary
#        run: |
#          Get-ChildItem
#          .\msdf-atlas-gen-windows-amd64.exe -help

  pr-binaries:
    name: Create Pull Request
    needs:
      - test-msdf-atlas-gen-darwin-arm64
      - test-msdf-atlas-gen-linux-amd64
      - test-msdf-atlas-gen-linux-arm64
#      - test-msdf-atlas-gen-windows-amd64
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: "Copy in binary: msdf-atlas-gen-darwin-arm64"
        uses: actions/download-artifact@v7
        with:
          name: msdf-atlas-gen-darwin-arm64
      - name: "Copy in binary: msdf-atlas-gen-linux-amd64"
        uses: actions/download-artifact@v7
        with:
          name: msdf-atlas-gen-linux-amd64
      - name: "Copy in binary: msdf-atlas-gen-linux-arm64"
        uses: actions/download-artifact@v7
        with:
          name: msdf-atlas-gen-linux-arm64
#      - name: "Copy in binary: msdf-atlas-gen-windows-amd64.exe"
#        uses: actions/download-artifact@v7
#        with:
#          name: msdf-atlas-gen-windows-amd64.exe
      - name: Set binaries as executable
        run: |
          chmod a+x ./msdf-atlas-gen-linux-arm64
          chmod a+x ./msdf-atlas-gen-linux-amd64
          chmod a+x ./msdf-atlas-gen-darwin-arm64
#          chmod a+x ./msdf-atlas-gen-windows-amd64.exe
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          title: 'chore: update binaries'
          commit-message: 'Manually triggered binary update'
          body: |
            Generated by workflow ${{ github.workflow }}, workflow run ${{ github.run.id }}, triggered by ${{ github.triggering.actor }}.
            
            Automated changes by [create-pull-request](https://github.com/peter-evans/create-pull-request) GitHub action.
          branch: 'update-binaries/run_${{ github.run.id }}'
          delete-branch: 'true'
